
body {
    font-family: Arial, Verdana, sans-serif;
}



label {
    margin-top:12px;
    font-size: 1.15em;
    color: #333333;
      font-weight: normal;
    line-height: 1.2;
}

input {
    border: 1px solid black;
}

input[type="text"], input[name="scores"], input[type="submit"] {
    width: 20%;
    padding: 5px;
    margin: 5px;
    font-size: 1em;
}

textarea {
    width: 80%;
    display: block;
    font-size: 1.1em;
    line-height: 1.4;
    padding: 6px;
}